* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
    url('../fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
    url('../fonts/raleway-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ralewayregular';
    src: url('../fonts/raleway-italic-webfont.woff2') format('woff2'),
    url('../fonts/raleway-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}


.main-width {
    width: 1040px;
    margin: 0 auto;
}

.spancolor {
    color: #28c9aa;
    text-transform: uppercase;
}

body {
    font-family: 'ralewayregular', 'Tahoma', sans-serif;
}

header {
    width: 100%;
    height: 40px;
    background: #000;
}

nav {
    display: flex;
    justify-content: space-between;
}

header nav h1 {
    color: #FFF;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 40px;

}

nav h1 span {
    padding: 0 5px;
}

header ul li {
    color: #FFF;
    display: inline-block;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 12px;
}

#slider {
    height: 500px;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(210,210,210,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(210,210,210,1)));
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(210,210,210,1) 100%);
    background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(210,210,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(210,210,210,1) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(210,210,210,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d2d2d2', GradientType=0 );
}

.slides {
    list-style: none;
}

.slides li {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.slides li #chair {
    background: url('../images/black_chair.png') no-repeat center/cover;
    width: 50%;
}

.slides li #slidetext {
    text-align: center;
    width: 50%;
}

.slides li #slidetext h2 {
    margin-top: 150px;

}

#offer {
    height: 350px;
}

#offer .offer_boxes {
    display: flex;
    justify-content: space-between;
}

.offer__img1 {
    background: url("../images/box1_img.jpg") no-repeat;
    width: 32%;
    height: 225px;
    margin-top: 30px;
}

.offer__img2 {
    background: url("../images/box2_img.jpg") no-repeat;
    width: 32%;
    height: 225px;
    margin-top: 30px;
}

.offer__img3 {
    box-sizing: border-box;
    border: 1px solid #D8D8D8;
    width: 32%;
    height: 252px;
    margin-bottom: 75px;
    margin-top: 30px;
}

.offer__img3 h2 {
    font-size: 15px;
}

.offer__img3 p {
    font-size: 13px;
}

#prices {
    background: #ECECEC;
    height: 725px;
}

.smalltitle {
    text-transform: uppercase;
    color: #505050;
    font-weight: bold;
    font-size: 20px;
    padding: 45px 0;
    position: relative;
}
.smalltitle:after {
    content:'';
    width: 320px;
    height: 8px;
    background: #28c9aa;
    position: absolute;
    top: 75px;
    left: 0;
}
.prices__boxes ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.prices__boxes ul li {
    width: 30   %;
}
.box {
    width: 330px;
    height: 500px;
    border: 1px solid #DADADA;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    margin-top: 50px;
}

.box h2 {
    text-transform: uppercase;
    color: #28c9aa;
    margin: 15px 0;
}

.box__important {
    background: #28c9aa;
    border: 2px solid #28c9aa;
}

.box__circle {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 1px solid #DADADA;
    position: relative;
    margin: 0 auto;
}

.box__circle .pln {
    font-weight: bold;
    font-size: 45px;
    position: absolute;
    top: 30px;
    left: 33px;
}
.box__circle .pln sup {
    font-size: 15px;
    font-weight: bold;
}

.box__circle p {
    text-transform: uppercase;
    font-size: 15px;
    position: absolute;
    top: 76px;
    left: 19px;
}
.box ul {
    display: block;
    margin: 35px 0;
}
.box ul li {
    box-sizing: border-box;
    width: 100%;
    padding: 15px;
}

.box ul li:nth-child(2n+1) {
    background: #E4E4E4;
}
.box ul li:nth-child(2n) {
    background: #F1F1F1;
}

.box a {
    font-size: 15px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    box-sizing: border-box;
    color: #FFF;
    background: #28c9aa;
    padding: 10px 30px;
    border: 1px solid #28c9aa;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    left: 102px;
}

.contact {
    height: 540px;
    background: #FFFFFF;
    display: flex;
    justify-content: space-between;
}

.contact .contact__inputs {
    width: 65%;
}

.contact .contact__send {
    width: 35%;
}